.hidden {
    display: none;
}

.show {
    display: block;
}

input:invalid {
    box-shadow: 2px 2px 5px red;
    }

input:valid {
        box-shadow: 2px 2px 5px forestgreen;
    }

textarea:invalid {
        box-shadow: 2px 2px 5px red;
        }
        
textarea:valid {
            box-shadow: 2px 2px 5px forestgreen;
        }