.hidden {
  display: none;
}

[aria-invalid="false"]{
  background-image: url('./check-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 99.3% 10%;
  border: 1px solid green !important;
}

[aria-invalid="true"] {
  background-image: url('./exclamation-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 99.3% 10%;
  border: 1px solid red !important;
}